{% extends "base.html" %}

{% block title %}Etiqueta{% endblock %}

{% block content %}

<h2 class="mb-4">
    {% if etiqueta %}Editar Etiqueta{% else %}Crear Etiqueta{% endif %}
</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">
        <i class="bi bi-check-circle"></i> Guardar
    </button>

    <a href="{% url 'lista_etiquetas' %}" class="btn btn-secondary ms-2">
        <i class="bi bi-x-circle"></i> Cancelar
    </a>
</form>

{% endblock %}